/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.logoHst {

  width: 80px;
  height: 80px;

  padding: 0px 0px 0px 0px;

  margin: 0px;
}


.listas  {

  text-align: center;
  margin: 10px 10px 10px 10px;
  padding:  10px 10px 10px 10px;
  border-radius: 50%;
  border: 2px;
}


.boton {
    
    display: flex;
    justify-content: center;
  }
 
body {
  
    background: url(https://www.xtrafondos.com/wallpapers/resoluciones/19/gato-negro-en-la-oscuridad_3840x2160_3929.jpg) ;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
 
}

.form-label{
  color: rgb(255, 255, 255);
}
  
.mb-3 {
  width: 600px;
}

.imgSistema{
  width: 200px;
  height: 200px;
}

div.card.h-100{
  background-color:rgba(43, 43, 43, 0.45);
}

h5.card-title {
  color: white;
}
p.card-text{
  color: white;
}

h5 {
     color: white;
  }

p {
    color: white;
 
}

.URGENTE {
  margin: auto;
  padding: auto;
  background-color: red;
}
.ALTA {
  margin: auto;
  padding: auto;
  background-color: rgb(255, 153, 0);
}
.MEDIA {
  margin: auto;
  padding: auto;
  background-color:rgb(255, 251, 0) ;
}
.BAJA {
  margin: auto;
  padding: auto;
  background-color:rgb(0, 132, 255) ;
}


  footer {
    min-height: 70px;
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
   
    margin-top: 300px;
    padding-top: 300px;
   
  }
  
  .container {
    border-top: 1px solid #222;
  }
  
 
  
  
